
section.hero404{
  background-image: url('../img/404.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px;
  width: 100%;
}
section.hero404 .text-hero4{

  color: #fff;
  text-align: center;
}
section.hero404 .text-hero4 h1{
  font-weight: 800;
  color: #FFBE08;
  font-size: 135px;
}
section.hero404 .text-hero4 h3{
  font-size: 40px;
  font-weight: 600;
}
section.hero404 .text-hero4 h4{
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 20px;
}
section.hero404 .text-hero4 a{

  text-decoration: none;
  color: #35353B;
  background-color: #FFBE08;
  padding: 10px 20px;
  border-radius: 20px;
}
@media screen and (max-width: 1030px){
  section.hero404{
    background-image: url('../img/404.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 1400px;
    max-width: 2000px;
    width: 100%;

  }
}
